movieService/target
api-gateway/target
userService/target
emailService/target
eureka-server/target
frontend/node_modules
frontend/build
frontend/dist
k3d/vagrant/master/.vagrant
k3d/vagrant/worker1/.vagrant
k3d/vagrant/worker2/.vagrant
k3d-cluster/.vagrant
k3d-cluster-copy/foster-enclave.ovpn